@charset "utf-8";
body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    margin: 0px;
}

input:focus {
    outline-width: 0;
}

div.page {
    display: table-cell;
    width: 100%;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    text-align: center;
    background-color: #efefef;
}

div.searchField {
    display: inline-block;
    width: 600px;
    height: 80px;
    text-align: left;
}

div#flist {
    position: absolute;
    top: 100px;
    left: 30px;
    height: 360px;
    width: 220px;
    overflow-y: scroll;
}

div.strength {
    font-size: 12px;
    color: #d4d4d4;
    margin-bottom: 8px;
}

div.stacBtn {
    background-color: #FFFFFF;
    padding: 8px;
    text-align: center;
    width: 80px;
    border-radius: 5px;
    margin-bottom: 1px;
    cursor: pointer;
}

div.stacBtn.hover {
    background-color: #e5f077;
}

#inputOuter, #inputOuter2 {
    outline: 0;
    border: 1px #999999 solid;
    border-radius: 4px;
    white-space: nowrap;
    overflow: visible;
    min-width: 600px;
    background-color: #ffffff;
    display: inline-block;
    padding-right: 70px;
}

#searchBtn {
    background: #afbc22 url("images/magglass.png") no-repeat center;
    width: 64px;
    height: 41px;
    display: inline-block;
    float: right;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
    margin-right: -70px;
    margin-left: -70px;
}

.btn {
    background: #afbc22;
    padding: 4px 12px 6px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
}

#input, #input2 {
    display: inline-block;
    padding: 10px;
    outline: 0;
    /*min-width: 500px; */
    /* margin-right: 70px; */
}

#input:focus, #input2:focus {
    outline: 0;
}

input:focus {
    /*background-color: #e5f077;*/
}

input#searchTextField {
    position: absolute;
    z-index: 2;
    width: 200px;
}

div#tipText {
    position: absolute;
    color: #bbbbbb;
    padding: 10px;
}

div.barBit {
    background-color: #eeeeee;
    height: 14px;
    width: 6px;
    display: inline-block;
    border: 1px solid #dddddd;
    margin-right: -1px;
}

div.barBit.on {
    background-color: #d5ea00;
    border: 1px solid #aaaaaa;
    -webkit-transition: background 0.8s;
    -moz-transition: background 0.8s;
    -o-transition: background 0.8s;
    transition: background 0.8s
}

div#relationsList {
    position: absolute;
    z-index: 2;
    display: none;
    padding: 16px;
}

div#limitToList {
    position: absolute;
    z-index: 2;
    display: none;
    padding: 12px;
}

span.sub.label {
    color: #799B0E;
    font-weight: bold;
}

#optionsList {
    width: 200px;
    z-index: 200;
    position: absolute;
    display: inline-block;
}

.menu {
    font-size: 16px;
    padding: 4px 0px 8px 0px;
    border: 1px silver solid;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 1px 2px 3px #000;
}

.menuItem {
    list-style-type: none;
    white-space: nowrap;
    padding: 4px 0px 4px 10px;
    width: auto;
    /* padding-left: 11px; */
}

.menuItem:hover, .menuItem.hover {
    background-color: #e5f077;
    cursor: pointer;
}

.menuItemContents {
    display: inline-block;
    padding-right: 10px;
}

.hintType {
    color: #888888;
}

input {
    border: 0px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
}

.pac-container {
    padding: 4px;
    border: 1px silver solid;
    border-radius: 5px;
    box-shadow: 1px 2px 3px #000;
    min-width: 280px !important;
}

span.pac-matched, div.pac-item span {
    font-size: 14px;
}

.pac-item {
    padding: 4px 0px 4px 10px;
}

.pac-item:hover, .pac-item-selected {
    background-color: #e5f077;
    cursor: pointer;
}
